# Ignoring compiled assets:
*.js
*.d.ts

# But Jest configuration should be commited:
!jest.config.js

# CDK asset staging directory:
.cdk.staging/

# Kubeflow assets:
k8s/kustomize/
k8s/aws_config/
k8s/.cache/

# CDK output:
cdk.out/

# Jest snapshots:
test/__snapshots__/
